/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

header .img-logo {
  width: 6rem;
}
header .navbar-content {
  display: none;
}
header .img-toggle {
  position: relative;
  left: 10rem;
  bottom: 1.5rem;
  width: 3rem;
}

.hero {
  background-image: url("../images/background_hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0.5rem;
  display: flex;
  font-family: "Rajdhani";
  letter-spacing: 1px;
}
.hero .hero-social-icon {
  margin-bottom: 6rem;
  width: 18%;
}
.hero .hero-social-icon a {
  width: 38px;
  height: 38px;
  display: block;
  background: transparent;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 43px;
  margin: 11px 0;
  border: 1px solid #fff;
  border-radius: 100%;
  transition: 0.3s;
}
.hero .hero-social-icon a:hover {
  background: #f09E33;
  border: 1px solid #f09E33;
}
.hero .hero-social-icon .follow-us {
  color: #ffffff;
  writing-mode: vertical-lr;
  position: relative;
  left: 0.7rem;
  top: 6rem;
  font-weight: 600;
  letter-spacing: 6px;
}
.hero .hero-social-icon span.follow-us:before {
  position: absolute;
  content: "";
  z-index: 1;
  background: #f09E33;
  width: 2.5px;
  height: 65px;
  left: 0.5rem;
  bottom: 10.5rem;
}
.hero .hero-social-icon .fab {
  color: #ffffff;
}
.hero .hero-social-icon .fab.fa-facebook::before {
  content: "\f39e";
}
.hero .hero-social-icon .fab.fa-instagram::before {
  content: "\f16d";
}
.hero .hero-social-icon .fab.fa-twitter::before {
  content: "\f099";
}
.hero .hero-presentation {
  display: flex;
  flex-direction: column;
  width: 78%;
  margin-top: 1rem;
}
.hero .hero-presentation span {
  color: #f09E33;
}
.hero .hero-presentation h1 {
  color: #f09E33;
  font-size: 30px;
  font-weight: 600;
  margin-top: 0.5rem;
  text-transform: uppercase;
}
.hero .hero-presentation h3 {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.8;
  position: relative;
}
.hero .hero-presentation h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 235px;
  height: 1px;
  background-color: #f09E33;
}
.hero .hero-presentation h2 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
}
.hero .hero-presentation h4 {
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  text-transform: initial;
  line-height: 1.4;
  margin-top: 0.3rem;
}
.hero .hero-presentation .hero-buttons {
  display: flex;
  margin-top: 0.5rem;
}
.hero .hero-presentation .hero-buttons .button-item {
  color: #ffffff;
  background-color: #f09E33;
  border-radius: 5px;
  font-weight: 600;
  padding: 1rem;
  line-height: 0;
  text-decoration: none;
  font-size: 11px;
  margin-right: 0.5rem;
}
.hero .hero-presentation .hero-buttons .button-item:hover {
  color: #f09E33;
  background-color: #ffffff;
}
.hero .hero-presentation .img-logo {
  width: 10rem;
  padding-left: 1rem;
  padding-top: 1rem;
}
.hero .hero-img {
  display: none;
}
.hero .hero-img .img-logo {
  width: 8rem;
}

.services {
  font-family: "Rajdhani";
  letter-spacing: 1px;
}
.services .container-services .first-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .container-services .first-row .title-services {
  padding-left: 0.7rem;
}
.services .container-services .first-row .title-services h2 {
  color: #f09E33;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 1rem;
}
.services .container-services .first-row .title-services h2:before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background-color: rgba(240, 158, 51, 0.1294117647);
  border-radius: 50%;
  z-index: -1;
  top: 38.2rem;
  left: 2rem;
}
.services .container-services .first-row .title-services h2:after {
  position: relative;
  z-index: 1;
  content: "";
  display: inline-block;
  width: 40px;
  height: 2px;
  background: #f09E33;
  bottom: 0.1rem;
  left: 0.3rem;
}
.services .container-services .first-row .title-services h3 {
  font-size: 27px;
  color: #022034;
  margin-top: 2rem;
  line-height: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.services .container-services .first-row .title-services h3 span {
  color: #f09E33;
}
.services .container-services .second-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .container-services .card-services {
  transition: 0.5s;
  position: relative;
  z-index: 1;
  text-align: center;
  box-shadow: 0px 0 2px rgba(26, 46, 85, 0.1);
  padding: 2rem;
  width: 18rem;
  height: auto;
  font-size: 18px;
  line-height: 1.5rem;
}
.services .container-services .card-services.vitrine:before {
  content: url("../images/vitrine_100_orange.png");
}
.services .container-services .card-services.vitrine:hover:before {
  content: url("../images/vitrine_100_white.png");
}
.services .container-services .card-services.ecommerce:before {
  content: url("../images/ecommerce_98_orange.png");
}
.services .container-services .card-services.ecommerce:hover:before {
  content: url("../images/ecommerce_98_white.png");
}
.services .container-services .card-services.seo:before {
  content: url("../images/seo_100_orange.png");
}
.services .container-services .card-services.seo:hover:before {
  content: url("../images/seo_100_white.png");
}
.services .container-services .card-services.branding:before {
  content: url("../images/test2.png");
}
.services .container-services .card-services.branding:hover:before {
  content: url("../images/test.png");
}
.services .container-services .card-services.grey {
  background: #f8fafb;
}
.services .container-services .card-services:hover {
  background-color: #f09E33;
}
.services .container-services .card-services:hover a {
  color: #ffffff;
}
.services .container-services .card-services a {
  text-decoration: none;
  color: #022034;
}
.services .container-services .card-services h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.services .container-services .card-services p {
  line-height: 1.8rem;
  font-size: 20px;
}

.process {
  height: auto;
  font-family: "Rajdhani";
  letter-spacing: 1px;
  background: #032e40;
}
.process .title-process h2 {
  color: #f09E33;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  padding-top: 1rem;
}
.process .title-process h2:before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background-color: rgba(240, 158, 51, 0.3490196078);
  border-radius: 50%;
  z-index: -1;
  top: 0rem;
  left: 0rem;
  z-index: 1;
}
.process .title-process h2:after {
  position: relative;
  z-index: 1;
  content: "";
  display: inline-block;
  width: 40px;
  height: 2px;
  background: #f09E33;
  bottom: 0.1rem;
  left: 0.3rem;
}
.process .title-process p {
  font-size: 15px;
  line-height: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  padding: 1rem;
}
.process .title-process span {
  color: #f09E33;
}
.process p {
  color: #ffffff;
}
.process .cards-process {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.process .cards-process .card-process {
  text-align: center;
  box-shadow: 0px 0 2px rgba(26, 46, 85, 0.1);
  width: 18rem;
  height: auto;
  border: 1px solid #f09E33;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1rem;
}
.process .cards-process .card-process.exchange:before {
  content: url("../images/1.png");
}
.process .cards-process .card-process.estimate:before {
  content: url("../images/2.png");
}
.process .cards-process .card-process.construction:before {
  content: url("../images/3.png");
}
.process .cards-process .card-process.delivery:before {
  content: url("../images/4.png");
}
.process .cards-process .card-process h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */