@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.btn {
  height: 60px;
  width: 60px;
  background-color: #f09E33;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  z-index: 2;
}

header .navbar {
  position: fixed;
  top: 0;
  height: 7rem;
  width: 100%;
  z-index: 2;
  background: #ffffff;
  border-bottom: 2px solid #f09E33;
  padding: 0.5rem;
}
header .img-logo {
  width: 9rem;
}
header .navbar-content {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #ffffff;
  position: absolute;
  top: 7rem;
  left: 0;
  animation: slideDown 0.3s ease-in-out;
}
header .nav-item {
  margin: 0 2rem;
  position: relative;
  display: flex;
  height: 2rem;
  align-items: center;
}
header .nav-item .nav-link.mail {
  display: none;
}
header .nav-item .nav-link.phone {
  display: none;
}
header .nav-item .sub-menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  top: 96px;
  border-top: 2.5px solid #f09E33;
}
header .nav-item .sub-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  left: 0;
  top: 163%;
  width: 240px;
  text-align: left;
  z-index: 1;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
header .nav-item .sub-menu ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
header .nav-item .sub-menu ul li a:hover {
  background-color: #f09E33;
  color: #ffffff;
}
header .nav-item:hover .sub-menu {
  display: block;
  left: -1.5rem;
  z-index: 20;
}
header .nav-item .nav-link {
  text-decoration: none;
  color: #032e40;
  display: inline-block;
  transition: color 0.5s;
}
header .nav-item .nav-link:hover {
  color: #f09E33;
}
header .nav-item .nav-link::before {
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
}
header .nav-item .nav-link i {
  font-size: 15px;
  display: inline-block;
}
header .nav-item .fa-angle-down::before {
  content: "\f107";
}
header .nav-item .nav-link.mail::before {
  content: "\f0e0";
}
header .nav-item .nav-link.phone::before {
  content: "\f095";
}
header .navbar-content.show {
  display: flex;
  align-items: end;
  background-color: #ffffff;
  z-index: -1;
  width: 10rem;
  height: 13rem;
  padding-top: 2rem;
  font-family: "Montserrat";
}
header .img-toggle {
  position: relative;
  width: 3rem;
  float: right;
  padding-right: 1rem;
  top: 2rem;
}
header .menu-icon {
  display: block;
}
header .close-icon {
  display: none;
}
header .navbar-content.show ~ .toggle .menu-icon {
  display: none;
}
header .navbar-content.show ~ .toggle .close-icon {
  display: block;
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero {
  background-image: url("../images/background_hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem 0.5rem;
  display: flex;
  font-family: "Rajdhani";
  letter-spacing: 1px;
  margin-top: 7rem;
}
.hero .hero-social-icon {
  margin-bottom: 6rem;
  width: 18%;
}
.hero .hero-social-icon a {
  width: 38px;
  height: 38px;
  display: block;
  background: transparent;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  margin: 11px 0;
  border: 1px solid #fff;
  border-radius: 100%;
  transition: 0.3s;
  padding: 0 1px 0 2px;
}
.hero .hero-social-icon a:hover {
  background: #f09E33;
  border: 1px solid #f09E33;
}
.hero .hero-social-icon .follow-us {
  color: #ffffff;
  writing-mode: vertical-lr;
  position: relative;
  left: 0.7rem;
  top: 6rem;
  font-weight: 600;
  letter-spacing: 6px;
}
.hero .hero-social-icon span.follow-us:before {
  position: absolute;
  content: "";
  z-index: 1;
  background: #f09E33;
  width: 2.5px;
  height: 65px;
  left: 0.5rem;
  bottom: 10.5rem;
}
.hero .hero-social-icon .fab {
  color: #ffffff;
}
.hero .hero-social-icon .fab.fa-facebook::before {
  content: "\f39e";
}
.hero .hero-social-icon .fab.fa-instagram::before {
  content: "\f16d";
}
.hero .hero-social-icon .fab.fa-twitter::before {
  content: "\f099";
}
.hero .hero-presentation {
  display: flex;
  flex-direction: column;
  width: 78%;
  margin-top: 1rem;
}
.hero .hero-presentation span {
  color: #f09E33;
}
.hero .hero-presentation h1 {
  color: #f09E33;
  font-size: 30px;
  font-weight: 600;
  margin-top: 0.5rem;
  text-transform: uppercase;
}
.hero .hero-presentation h3 {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.8;
  position: relative;
}
.hero .hero-presentation h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 235px;
  height: 1px;
  background-color: #f09E33;
}
.hero .hero-presentation h2 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
}
.hero .hero-presentation h4 {
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  text-transform: initial;
  line-height: 1.4;
  margin-top: 0.3rem;
}
.hero .hero-presentation .hero-buttons {
  display: flex;
  margin-top: 0.5rem;
}
.hero .hero-presentation .hero-buttons .button-item {
  color: #ffffff;
  background-color: #f09E33;
  border-radius: 5px;
  font-weight: 600;
  padding: 1rem;
  line-height: 0;
  text-decoration: none;
  font-size: 14px;
  margin-right: 0.5rem;
  width: 112px;
  text-align: center;
}
.hero .hero-presentation .hero-buttons .button-item:hover {
  color: #f09E33;
  background-color: #ffffff;
}
.hero .hero-presentation .img-under-button {
  display: flex;
  justify-content: flex-start;
}
.hero .hero-presentation .img-logo {
  width: 13rem;
  padding-left: 1rem;
  padding-top: 2rem;
}
.hero .hero-img {
  display: none;
}
.hero .hero-img .img-logo {
  width: 8rem;
}

.services {
  font-family: "Rajdhani";
  letter-spacing: 1px;
  padding: 1rem 0 1.5rem;
}
.services .container-services .first-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .container-services .first-row .title-services {
  padding-left: 0.7rem;
  position: relative;
}
.services .container-services .first-row .title-services h2 {
  color: #f09E33;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 1rem;
}
.services .container-services .first-row .title-services h2:before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background-color: rgba(240, 158, 51, 0.1294117647);
  border-radius: 50%;
  z-index: -1;
  top: 5%;
  left: 5%;
}
.services .container-services .first-row .title-services h2:after {
  position: relative;
  z-index: 1;
  content: "";
  display: inline-block;
  width: 40px;
  height: 2px;
  background: #f09E33;
  bottom: 0.1rem;
  left: 0.3rem;
}
.services .container-services .first-row .title-services h3 {
  font-size: 27px;
  color: #022034;
  margin-top: 2rem;
  line-height: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.services .container-services .first-row .title-services h3 span {
  color: #f09E33;
}
.services .container-services .second-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .container-services .card-services {
  transition: 0.5s;
  position: relative;
  z-index: 1;
  text-align: center;
  box-shadow: 0px 0 2px rgba(26, 46, 85, 0.1);
  padding: 2rem;
  width: 18rem;
  height: auto;
  font-size: 18px;
  line-height: 1.5rem;
}
.services .container-services .card-services.vitrine:before {
  content: url("../images/vitrine_100_orange.png");
}
.services .container-services .card-services.vitrine:hover:before {
  content: url("../images/vitrine_100_white.png");
}
.services .container-services .card-services.ecommerce:before {
  content: url("../images/ecommerce_98_orange.png");
}
.services .container-services .card-services.ecommerce:hover:before {
  content: url("../images/ecommerce_98_white.png");
}
.services .container-services .card-services.seo:before {
  content: url("../images/seo_100_orange.png");
}
.services .container-services .card-services.seo:hover:before {
  content: url("../images/seo_100_white.png");
}
.services .container-services .card-services.branding:before {
  content: url("../images/test2.png");
}
.services .container-services .card-services.branding:hover:before {
  content: url("../images/test.png");
}
.services .container-services .card-services.grey {
  background: #f8fafb;
}
.services .container-services .card-services:hover {
  background-color: #f09E33;
}
.services .container-services .card-services:hover a {
  color: #ffffff;
}
.services .container-services .card-services a {
  text-decoration: none;
  color: #022034;
}
.services .container-services .card-services h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.services .container-services .card-services p {
  line-height: 1.8rem;
  font-size: 20px;
}

.process {
  height: auto;
  font-family: "Rajdhani";
  letter-spacing: 1px;
  background: #032e40;
  padding-bottom: 2rem;
  margin-bottom: 1.5rem;
}
.process .title-process {
  position: relative;
}
.process .title-process h2 {
  color: #f09E33;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  padding-top: 2rem;
}
.process .title-process h2:before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background-color: rgba(240, 158, 51, 0.3490196078);
  border-radius: 50%;
  z-index: -1;
  z-index: 1;
}
.process .title-process h2:after {
  position: relative;
  z-index: 1;
  content: "";
  display: inline-block;
  width: 40px;
  height: 2px;
  background: #f09E33;
  bottom: 0.1rem;
  left: 0.3rem;
}
.process .title-process p {
  font-size: 15px;
  line-height: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1rem;
}
.process .title-process span {
  color: #f09E33;
}
.process p {
  color: #ffffff;
}
.process .cards-process {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.process .cards-process .card-process {
  text-align: center;
  box-shadow: 0px 0 2px rgba(26, 46, 85, 0.1);
  width: 18rem;
  height: auto;
  border: 1px solid #f09E33;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1rem;
}
.process .cards-process .card-process.exchange:before {
  content: url("../images/1.png");
}
.process .cards-process .card-process.estimate:before {
  content: url("../images/2.png");
}
.process .cards-process .card-process.construction:before {
  content: url("../images/3.png");
}
.process .cards-process .card-process.delivery:before {
  content: url("../images/4.png");
}
.process .cards-process .card-process h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.project {
  height: auto;
  font-family: "Rajdhani";
  letter-spacing: 1px;
}
.project .title-project h2 {
  color: #f09E33;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  padding-top: 1rem;
}
.project .title-project h2:before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background-color: rgba(240, 158, 51, 0.3490196078);
  border-radius: 50%;
  z-index: -1;
  z-index: 1;
}
.project .title-project h2:after {
  position: relative;
  z-index: 1;
  content: "";
  display: inline-block;
  width: 40px;
  height: 2px;
  background: #f09E33;
  bottom: 0.1rem;
  left: 0.3rem;
}
.project .title-project p {
  font-size: 28px;
  margin-top: 3rem;
  line-height: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}
.project .cards-project .card-project {
  margin: 3rem;
}
.project .cards-project .card-project .project-image {
  display: flex;
  justify-content: center;
}
.project .cards-project .card-project .macbook {
  width: 5rem;
  height: 3rem;
}
.project .cards-project .card-project .iphone {
  width: 5rem;
}
.project .cards-project .card-project .detail-project {
  color: #f09E33;
  font-size: 20px;
  margin-top: 1rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project .cards-project .card-project .detail-project h3 {
  line-height: 2.3rem;
  margin: 1rem;
  text-align: center;
}
.project .cards-project .card-project .detail-project .category-project {
  border: 2px solid #f09E33;
  padding: 0.5rem;
  width: 188px;
  text-align: center;
  margin: 0.5rem;
  font-size: 18px;
}

.faq {
  background: #032e40;
  height: auto;
  font-family: "Rajdhani";
  letter-spacing: 1px;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.faq h2 {
  color: #f09E33;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  padding: 1.5rem 0 0.5rem;
}
.faq h2:before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background-color: rgba(240, 158, 51, 0.3490196078);
  border-radius: 50%;
  z-index: -1;
  z-index: 1;
}
.faq h2:after {
  position: relative;
  z-index: 1;
  content: "";
  display: inline-block;
  width: 40px;
  height: 2px;
  background: #f09E33;
  bottom: 0.1rem;
  left: 0.3rem;
}
.faq h3 {
  font-size: 28px;
  line-height: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 2rem;
}
.faq .faq-part {
  display: flex;
  flex-direction: column;
}
.faq .faq-part .image-faq {
  width: 20rem;
  height: 18rem;
  border-radius: 20px 0 20px 0;
  margin: 0 auto;
}
.faq .faq-part .questions {
  color: #032e40;
  padding: 0rem 1rem 1rem 0.5rem;
}
.faq .faq-part .questions li {
  padding: 1.5rem 0 0;
}
.faq .faq-part .questions li div {
  display: flex;
  justify-content: space-between;
}
.faq .faq-part .questions .active {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
  position: relative;
  padding-left: 1.5rem;
  padding-right: 1rem;
}
.faq .faq-part .questions p {
  font-size: 16px;
  padding: 0.5rem 0 0 0;
  display: none;
  color: #ffffff;
  padding-left: 1.5rem;
}
.faq .faq-part .questions .hidden {
  display: none;
}
.faq .faq-part .faq-part .plus-icon,
.faq .faq-part .faq-part .moins-icon {
  position: absolute;
  right: 30px;
  top: 30px;
}

.form {
  background: #ffffff;
  height: auto;
  font-family: "Rajdhani";
  letter-spacing: 1px;
  padding: 2rem 1rem;
}

.container-form {
  /* Styling for Contact Form 7 */
  /* Style des messages de succès et d'erreur */
}
.container-form .info-contact {
  z-index: 1;
}
.container-form h2 {
  color: #f09E33;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.container-form h2:before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background-color: rgba(240, 158, 51, 0.1294117647);
  border-radius: 50%;
  z-index: 1;
}
.container-form h2:after {
  position: relative;
  z-index: 1;
  content: "";
  display: inline-block;
  width: 40px;
  height: 2px;
  background: #f09E33;
  bottom: 0.1rem;
  left: 0.3rem;
}
.container-form p {
  font-size: 18px;
  color: #022034;
  line-height: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.container-form p span {
  color: #f09E33;
}
.container-form .picto-email-avion {
  width: 5rem;
}
.container-form .picto-email-avion img {
  width: 5rem;
  padding: 0.1rem;
  margin-right: 0.5rem;
}
.container-form .wpcf7 {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container-form label {
  color: #f09E33;
}
.container-form .wpcf7 input[type=text],
.container-form .wpcf7 input[type=email],
.container-form .wpcf7 input[type=tel],
.container-form .wpcf7 textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Montserrat" !important;
}
.container-form .wpcf7 textarea {
  min-height: 150px;
}
.container-form .wpcf7 input[type=submit] {
  background-color: #f09E33 !important;
  color: #fff !important;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.container-form .wpcf7-response-output {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}
.container-form .wpcf7-validation-errors,
.container-form .wpcf7-mail-sent-ok {
  background-color: #ffcdd2;
  color: #c62828;
}
.container-form .wpcf7-mail-sent-ok {
  background-color: #dcedc8;
  color: #2e7d32;
}

/*Pages mentions légales et politique de confidentialité*/
.mentions-legales,
.politique-de-confidentialité {
  font-family: "Montserrat";
  margin: 10rem 1rem 4rem;
}
.mentions-legales h1,
.politique-de-confidentialité h1 {
  font-size: 44px;
  font-weight: 400;
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  margin-bottom: 1.5rem;
}
.mentions-legales h2,
.politique-de-confidentialité h2 {
  margin: 1rem 0;
  font-size: 24px;
  color: #f09E33;
  font-weight: 500;
}
.mentions-legales h3,
.politique-de-confidentialité h3 {
  margin: 1rem 0;
  font-size: 18px;
  font-weight: 500;
}
.mentions-legales p,
.mentions-legales li,
.politique-de-confidentialité p,
.politique-de-confidentialité li {
  font-size: 18px;
  line-height: 1.5rem;
}
.mentions-legales span,
.politique-de-confidentialité span {
  font-weight: 600;
}
.mentions-legales a,
.politique-de-confidentialité a {
  color: #000000;
  font-weight: 600;
}
.mentions-legales ul,
.politique-de-confidentialité ul {
  margin: 1rem 0;
}
.mentions-legales li,
.politique-de-confidentialité li {
  margin-bottom: 1rem;
}

/* Page branding */
.branding-section,
.sites-vitrine-section {
  margin: 2rem 1rem 4rem;
  font-family: "Montserrat";
}
.branding-section h2,
.sites-vitrine-section h2 {
  font-family: "Montserrat";
  text-align: center;
  font-size: 38px;
}
.branding-section span,
.sites-vitrine-section span {
  font-weight: 600;
}
.branding-section .branding-services,
.sites-vitrine-section .branding-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.branding-section .branding-services .img-services,
.sites-vitrine-section .branding-services .img-services {
  max-width: 192px;
  /* Limite la largeur maximale */
  max-height: 192px;
  border-radius: 1.5rem;
}
.branding-section .branding-services .description-services,
.sites-vitrine-section .branding-services .description-services {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.branding-section .branding-services .description-services h3,
.sites-vitrine-section .branding-services .description-services h3 {
  font-size: 24px;
  margin: 1rem 1rem;
  font-weight: 500;
}
.branding-section .branding-services .description-services p,
.sites-vitrine-section .branding-services .description-services p {
  line-height: 22px;
}

.contact-services {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
.contact-services .cta a {
  font-family: "Rajdhani";
  color: #000000;
  background-color: #f09E33;
  border-radius: 5px;
  font-weight: 600;
  padding: 1rem;
  line-height: 0;
  text-decoration: none;
  font-size: 18px;
  margin-right: 0.5rem;
  text-align: center;
}

.sites-vitrine-section .img-vitrine {
  display: flex;
  justify-content: center;
}
.sites-vitrine-section .img-vitrine img {
  width: 20rem;
}
.sites-vitrine-section h2 {
  margin: 1rem 0;
}
.sites-vitrine-section p {
  margin-bottom: 1rem;
  line-height: 22px;
}
.sites-vitrine-section li {
  line-height: 22px;
  margin-bottom: 1rem;
}

footer {
  background: #032e40;
  height: auto;
  font-family: "Rajdhani";
  letter-spacing: 1px;
  padding: 1rem;
  color: #ffffff;
  font-weight: 500;
}
footer .container-footer {
  border-bottom: 1px solid #f09E33;
}
footer .container-footer .footer-logo {
  display: flex;
  justify-content: center;
}
footer .container-footer h2 {
  font-size: 28px;
  margin-bottom: 0.8rem;
}
footer .container-footer span {
  color: #f09E33;
}
footer .container-footer .img-logo {
  width: 8rem;
}
footer .container-footer .intro-footer {
  height: 9.5rem;
  line-height: 1.5rem;
}
footer .container-footer .intro-footer span {
  color: #f09E33;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}
footer .container-footer .intro-footer p {
  margin-bottom: 0.5rem;
}
footer .container-footer .intro-footer .social-footer a {
  display: inline-block;
  margin: 15px 6px 0;
  font-size: 16px;
  width: 35px;
  height: 35px;
  line-height: 38px;
  background: #3a5a73;
  text-align: center;
  position: relative;
  z-index: 1;
  border-radius: 3px;
}
footer .container-footer .intro-footer .social-footer a .fab {
  color: #ffffff;
}
footer .container-footer .intro-footer .social-footer a:before {
  position: absolute;
  content: "";
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #f09E33;
  transform: scale(0);
  margin: auto;
  transition: 0.5s;
  border-radius: 3px;
}
footer .container-footer .intro-footer .social-footer a:hover:before {
  transform: scale(1);
  background: #f09E33;
}
footer .container-footer .bloc-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 13rem;
}
footer .container-footer .bloc-services ul {
  margin-left: 1rem;
  width: 16rem;
}
footer .container-footer .bloc-services ul li {
  padding: 0.5rem;
  list-style-type: disc;
}
footer .container-footer .bloc-services ul li a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  transition: 0.5s;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 600;
  background-image: linear-gradient(to right, #f09E33, #f09E33, 50%, #ffffff 50%);
}
footer .container-footer .bloc-services ul li a:hover {
  background-position: 0%, 100%;
  padding-left: 3px;
}
footer .container-footer .bloc-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 11.5rem;
}
footer .container-footer .bloc-contact .info-contact {
  display: flex;
}
footer .container-footer .bloc-contact .footer-social-icon {
  display: inline-block;
  font-size: 18px;
  color: #f09E33;
  padding: 0.5rem 0.5rem 0.5rem 0;
}
footer .container-footer .bloc-contact .footer-social-info {
  padding: 0.5rem;
}
footer .footer-bottom {
  margin-top: 1rem;
}
footer .footer-bottom .copyright {
  font-size: 13px;
}
footer .footer-bottom .copyright span {
  color: #f09E33;
}
footer .footer-bottom .legale-notices {
  font-size: 11px;
  margin-top: 0.5rem;
}
footer .footer-bottom .legale-notices ul {
  display: flex;
}
footer .footer-bottom .legale-notices ul li a {
  text-decoration: none;
  color: #ffffff;
  padding-left: 0.2rem;
}

@media screen and (min-width: 768px) {
  .process .title-process p {
    text-align: center;
  }
  .process .cards-process {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .process .cards-process .card-process {
    height: 13rem;
  }
  .project .cards-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 3rem;
  }
  .project .cards-project .card-project {
    padding: 0 1rem;
  }
  .faq .faq-part {
    flex-direction: row;
    margin: 0 20% 0 12%;
  }
  .faq .faq-part .questions {
    width: 65%;
  }
  .faq .faq-part .questions p {
    padding-right: 1.5rem;
  }
  .form .container-form {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 3rem;
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1055px) {
  .process .cards-process {
    flex-wrap: wrap;
  }
  .process .cards-process .card-process {
    width: 22rem;
  }
}
@media only screen and (min-width: 1055px) and (max-width: 1300px) {
  .process .cards-process {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .process .cards-process .card-process {
    width: 14rem;
  }
}
@media only screen and (min-width: 1032px) and (max-width: 1423px) {
  .project .cards-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 3rem;
  }
  .project .cards-project .card-project {
    padding: 0 5rem;
  }
}
@media screen and (min-width: 1301px) {
  .process .cards-process {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .process .cards-process .card-process {
    width: 19rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  header .img-toggle {
    top: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  h2 {
    color: #f09E33;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
  }
  header .navbar {
    height: 7rem;
  }
  header .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 6rem;
    position: fixed;
    top: 0;
    background: #ffffff;
    width: 100%;
    z-index: 2;
  }
  header .img-logo {
    width: 10rem;
    position: relative;
    top: 2rem;
  }
  header .img-toggle {
    display: none;
  }
  header .navbar-content {
    display: flex;
    font-family: "Montserrat";
    color: #032e40;
    font-weight: 500;
    position: static;
  }
  header .navbar-content .navbar-nav {
    display: flex;
  }
  header .navbar-content .navbar-nav .nav-item {
    margin: 0 2rem;
    position: relative;
    display: flex;
    height: 6rem;
    align-items: center;
    top: 1rem;
  }
  header .navbar-content .navbar-nav .nav-item .nav-link.mail {
    display: none;
  }
  header .navbar-content .navbar-nav .nav-item .nav-link.phone {
    display: none;
  }
  header .navbar-content .navbar-nav .nav-item .sub-menu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: 96px;
    border-top: 2.5px solid #f09E33;
  }
  header .navbar-content .navbar-nav .nav-item .sub-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    left: 0;
    top: 163%;
    width: 240px;
    text-align: left;
    z-index: 1;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
  }
  header .navbar-content .navbar-nav .nav-item .sub-menu ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  header .navbar-content .navbar-nav .nav-item .sub-menu ul li a:hover {
    background-color: #f09E33;
    color: #ffffff;
  }
  header .navbar-content .navbar-nav .nav-item:hover .sub-menu {
    display: block;
    left: -1.5rem;
  }
  header .navbar-content .navbar-nav .nav-item .nav-link {
    text-decoration: none;
    color: #032e40;
    display: inline-block;
    transition: color 0.5s;
  }
  header .navbar-content .navbar-nav .nav-item .nav-link:hover {
    color: #f09E33;
  }
  header .navbar-content .navbar-nav .nav-item .nav-link::before {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
  }
  header .navbar-content .navbar-nav .nav-item .nav-link i {
    font-size: 15px;
    display: inline-block;
  }
  header .navbar-content .navbar-nav .nav-item .fa-angle-down::before {
    content: "\f107";
  }
  header .navbar-content .navbar-nav .nav-item .nav-link.mail::before {
    content: "\f0e0";
  }
  header .navbar-content .navbar-nav .nav-item .nav-link.phone::before {
    content: "\f095";
  }
  .hero {
    margin-top: 6rem;
  }
  .hero .hero-presentation h3 {
    font-size: 28px;
  }
  .hero .hero-presentation h3::before {
    width: 440px;
  }
  .hero .hero-presentation h1 {
    font-size: 68px;
  }
  .hero .hero-presentation h2 {
    text-transform: lowercase;
    font-size: 68px;
  }
  .hero .hero-presentation h4 {
    font-size: 23px;
  }
  .hero .hero-presentation .img-logo {
    display: none;
  }
  .hero .hero-presentation .hero-buttons {
    margin-top: 3rem;
  }
  .hero .hero-presentation .hero-buttons .button-item {
    padding: 1.5rem 2.5rem;
    font-size: 18px;
    margin-right: 3rem;
    width: auto;
  }
  .hero .hero-img {
    display: block;
  }
  .hero .hero-img .img-logo {
    width: 26rem;
  }
  .services {
    padding: 3rem 50%;
  }
  .services .container-services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .services .container-services .first-row {
    flex-direction: row;
    width: 73rem;
  }
  .services .container-services .first-row .title-services {
    width: 40rem;
  }
  .services .container-services .first-row .title-services h2 {
    margin-top: 0;
    margin-bottom: 3rem;
  }
  .services .container-services .first-row .title-services h3 {
    font-size: 34px;
  }
  .services .container-services .second-row {
    flex-direction: row;
    width: 73rem;
  }
  .services .container-services .card-services {
    width: 20rem;
    height: 19rem;
  }
  /* version desktop */
  .branding-section {
    margin: 2rem 5rem 4rem;
  }
  .branding-section .branding-services {
    display: flex;
    flex-direction: row;
  }
  .branding-section .branding-services.reverse {
    flex-direction: row-reverse;
  }
  .branding-section .branding-services .description-services {
    padding: 0 3rem;
    justify-content: center;
    text-align: left;
  }
  .branding-section .branding-services .description-services h3 {
    margin: 1rem 0rem;
  }
  .sites-vitrine-section .img-vitrine img {
    width: 40rem;
  }
  footer {
    background: #032e40;
    height: auto;
    font-family: "Rajdhani";
    letter-spacing: 1px;
    padding: 1rem 1rem;
    color: #ffffff;
    font-weight: 500;
  }
  footer .container-footer {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f09E33;
  }
  footer .container-footer h2 {
    font-size: 28px;
    margin-bottom: 0.8rem;
  }
  footer .container-footer span {
    color: #f09E33;
  }
  footer .container-footer .img-logo {
    width: 12rem;
  }
  footer .container-footer .intro-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 9.5rem;
    line-height: 1.5rem;
    padding-top: 1.5rem;
  }
  footer .container-footer .intro-footer span {
    color: #f09E33;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
  }
  footer .container-footer .intro-footer p {
    margin-bottom: 0.5rem;
  }
  footer .container-footer .intro-footer .social-footer a {
    display: inline-block;
    margin: 15px 6px 0;
    font-size: 16px;
    width: 35px;
    height: 35px;
    line-height: 38px;
    background: #3a5a73;
    text-align: center;
    position: relative;
    z-index: 1;
    border-radius: 3px;
  }
  footer .container-footer .intro-footer .social-footer a .fab {
    color: #ffffff;
  }
  footer .container-footer .intro-footer .social-footer a:before {
    position: absolute;
    content: "";
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #f09E33;
    transform: scale(0);
    margin: auto;
    transition: 0.5s;
    border-radius: 3px;
  }
  footer .container-footer .intro-footer .social-footer a:hover:before {
    transform: scale(1);
    background: #f09E33;
  }
  footer .container-footer .bloc-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 13rem;
  }
  footer .container-footer .bloc-services ul {
    margin-left: 1rem;
    width: 16rem;
  }
  footer .container-footer .bloc-services ul li {
    padding: 0.5rem;
    list-style-type: disc;
  }
  footer .container-footer .bloc-services ul li a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    transition: 0.5s;
    background-size: 200% 100%;
    background-position: 100%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 600;
    background-image: linear-gradien;
  }
  footer .container-footer .bloc-services ul li a:hover {
    background-position: 0%, 100%;
    padding-left: 3px;
  }
  footer .container-footer .bloc-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12.5rem;
  }
  footer .container-footer .bloc-contact .info-contact {
    display: flex;
  }
  footer .container-footer .bloc-contact .footer-social-icon {
    display: inline-block;
    font-size: 18px;
    color: #f09E33;
    padding: 0.5rem 0.5rem 0.5rem 0;
  }
  footer .container-footer .bloc-contact .footer-social-info {
    padding: 0.5rem;
  }
  footer .footer-bottom {
    display: flex;
    margin-top: 1.5rem;
    justify-content: space-between;
  }
  footer .footer-bottom .copyright span {
    color: #f09E33;
  }
  footer .footer-bottom .legale-notices {
    margin-top: 0;
    font-size: 13px;
  }
  footer .footer-bottom .legale-notices ul {
    display: flex;
  }
  footer .footer-bottom .legale-notices ul li a {
    text-decoration: none;
    color: #ffffff;
  }
}
@media screen and (min-width: 1111px) {
  footer .container-footer .intro-footer {
    padding-top: 0;
  }
}
@media screen and (min-width: 1241px) {
  .hero .hero-social-icon {
    width: 12%;
  }
}
@media screen and (min-width: 1378px) {
  header .navbar-content .navbar-nav .nav-item .nav-link.mail {
    display: block;
  }
  header .navbar-content .navbar-nav .nav-item .nav-link.phone {
    display: block;
  }
  .services .first-row .title-services {
    width: 60rem;
  }
  .services .second-row {
    width: 29rem;
  }
}
@media screen and (max-width: 1023px) {
  header .navbar-content {
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #ffffff;
    position: absolute;
    top: 7rem;
    left: 0;
    animation: slideDown 0.3s ease-in-out;
  }
}/*# sourceMappingURL=style.css.map */