@import "reset";
@import "color";
@import "font";

* {
    box-sizing: border-box;
}

.btn {
    height: 60px;
    width: 60px;
    background-color: $first-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    z-index: 2;
}

header {

    .navbar {
        position: fixed;
        top: 0;
        height: 7rem;
        width: 100%;
        z-index: 2;
        background: $third-color ;
        border-bottom: 2px solid $first-color;
        padding: 0.5rem;

    }

    .img-logo {
        width: 9rem;
    }

    .navbar-content {
        display: none;

        flex-direction: column;
        align-items: center;
        width: 100%;
        background: $third-color;
        position: absolute;
        top: 7rem;
        left: 0;
        animation: slideDown 0.3s ease-in-out;

    }

    .nav-item {
        margin: 0 2rem;
        position: relative;
        display: flex;
        height: 2rem;
        align-items: center;

        .nav-link.mail {
            display: none;
        }

        .nav-link.phone {
            display: none;
        }

        .sub-menu {
            display: none;
            position: absolute;
            background-color: #ffffff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            top: 96px;
            border-top: 2.5px solid $first-color;

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;

                position: relative;
                left: 0;
                top: 163%;
                width: 240px;
                text-align: left;
                z-index: 1;
                -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
                transition: .5s;

                li {

                    a {
                        display: block;
                        padding: 10px 20px;
                        text-decoration: none;
                        color: #333;
                        font-weight: 500;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.10);

                        &:hover {
                            background-color: $first-color;
                            color: $third-color;
                        }
                    }
                }
            }
        }

        &:hover .sub-menu {
            display: block;
            left: -1.5rem;
            z-index: 20;
        }

        .nav-link {
            text-decoration: none;
            color: $second-color;
            display: inline-block;
            transition: color 0.5s;

            &:hover {
                color: $first-color;
            }

            &::before {
                font-family: "Font Awesome 5 Free";
                display: inline-block;
                padding-right: 3px;
                vertical-align: middle;
                font-weight: 900;
            }

            i {
                font-size: 15px;
                display: inline-block;
            }
        }

        .fa-angle-down::before {
            content: "\f107";
        }

        .nav-link.mail::before {
            content: '\f0e0';
        }

        .nav-link.phone::before {
            content: '\f095';
        }
    }

    .navbar-content.show {
        display: flex;
        align-items: end;
        background-color: $third-color;
        z-index: -1;
        width: 10rem;
        height: 13rem;
        padding-top: 2rem;
        font-family: $main-font;
    }

    .img-toggle {
        position: relative;
        width: 3rem;
        float: right;
        padding-right: 1rem;
        top: 2rem;
    }

    .menu-icon {
        display: block;
    }

    .close-icon {
        display: none;
    }

    .navbar-content.show~.toggle .menu-icon {
        display: none;
    }

    .navbar-content.show~.toggle .close-icon {
        display: block;
    }

    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-10%);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.hero {
    background-image: url("../images/background_hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3rem 0.5rem;
    display: flex;
    font-family: "Rajdhani";
    letter-spacing: 1px;
    margin-top: 7rem;

    .hero-social-icon {
        margin-bottom: 6rem;
        width: 18%;

        a {
            width: 38px;
            height: 38px;
            display: block;
            background: transparent;
            color: $third-color;
            text-align: center;
            font-size: 16px;
            line-height: 40px;
            margin: 11px 0;
            border: 1px solid #fff;
            border-radius: 100%;
            transition: .3s;
            padding: 0 1px 0 2px;

            &:hover {
                background: $first-color;
                border: 1px solid $first-color;
            }
        }

        .follow-us {
            color: $third-color;
            writing-mode: vertical-lr;
            position: relative;
            left: 0.7rem;
            top: 6rem;
            font-weight: 600;
            letter-spacing: 6px;
        }

        span.follow-us:before {
            position: absolute;
            content: "";
            z-index: 1;
            background: $first-color;
            width: 2.5px;
            height: 65px;
            left: 0.5rem;
            bottom: 10.5rem;
        }

        .fab {
            color: $third-color;
        }

        .fab.fa-facebook::before {
            content: "\f39e";
        }

        .fab.fa-instagram::before {
            content: "\f16d";
        }

        .fab.fa-twitter::before {
            content: "\f099";
        }
    }

    .hero-presentation {
        display: flex;
        flex-direction: column;
        width: 78%;
        margin-top: 1rem;

        span {
            color: $first-color;
        }

        h1 {
            color: $first-color;
            font-size: 30px;
            font-weight: 600;
            margin-top: 0.5rem;
            text-transform: uppercase;
        }

        h3 {
            color: $third-color;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 1.8;
            position: relative;
        }

        h3::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 235px;
            height: 1px;
            background-color: $first-color;
        }

        h2 {
            color: $third-color;
            font-size: 30px;
            font-weight: 500;
        }

        h4 {
            color: $third-color;
            font-size: 17px;
            font-weight: 500;
            text-transform: initial;
            line-height: 1.4;
            margin-top: 0.3rem;
        }

        .hero-buttons {
            display: flex;
            margin-top: 0.5rem;

            .button-item {
                color: $third-color;
                background-color: $first-color;
                border-radius: 5px;
                font-weight: 600;
                padding: 1rem;
                line-height: 0;
                text-decoration: none;
                font-size: 14px;
                margin-right: 0.5rem;
                width: 112px;
                text-align: center;

                &:hover {
                    color: $first-color;
                    background-color: $third-color;
                }
            }
        }

        .img-under-button {
            display: flex;
            justify-content: flex-start;
        }

        .img-logo {
            width: 13rem;
            padding-left: 1rem;
            padding-top: 2rem;
        }
    }

    .hero-img {
        display: none;

        .img-logo {
            width: 8rem;
        }
    }
}

.services {
    font-family: "Rajdhani";
    letter-spacing: 1px;
    padding: 1rem 0 1.5rem;

    .container-services {

        .first-row {
            display: flex;
            flex-direction: column;
            align-items: center;

            .title-services {
                padding-left: 0.7rem;
                position: relative;

                h2 {
                    color: $first-color;
                    font-size: 20px;
                    text-transform: uppercase;
                    font-weight: 600;
                    margin-top: 1rem;
                }

                h2:before {
                    content: "";
                    position: absolute;
                    transform: translate(-50%, -50%);
                    width: 60px;
                    height: 60px;
                    background-color: #f09e3321;
                    border-radius: 50%;
                    z-index: -1;
                    top: 5%;
                    left: 5%;
                }

                h2:after {
                    position: relative;
                    z-index: 1;
                    content: "";
                    display: inline-block;
                    width: 40px;
                    height: 2px;
                    background: $first-color;
                    bottom: 0.1rem;
                    left: 0.3rem;
                }

                h3 {
                    font-size: 27px;
                    color: #022034;
                    margin-top: 2rem;
                    line-height: 2.5rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 1px;

                    span {
                        color: $first-color;
                    }
                }
            }
        }

        .second-row {
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        .card-services {
            transition: .5s;
            position: relative;
            z-index: 1;
            text-align: center;
            box-shadow: 0px 0 2px rgb(26 46 85 / 10%);
            padding: 2rem;
            width: 18rem;
            height: auto;
            font-size: 18px;
            line-height: 1.5rem;

            &.vitrine:before {
                content: url("../images/vitrine_100_orange.png");

            }

            &.vitrine:hover:before {
                content: url("../images/vitrine_100_white.png");
            }

            &.ecommerce:before {
                content: url("../images/ecommerce_98_orange.png");
            }

            &.ecommerce:hover:before {
                content: url("../images/ecommerce_98_white.png");
            }

            &.seo:before {
                content: url("../images/seo_100_orange.png");
            }

            &.seo:hover:before {
                content: url("../images/seo_100_white.png");
            }

            &.branding:before {
                content: url("../images/test2.png");
            }

            &.branding:hover:before {
                content: url("../images/test.png");
            }

            &.grey {
                background: #f8fafb;
            }

            &:hover {
                background-color: $first-color;

                a {
                    color: #ffffff;
                }
            }

            a {
                text-decoration: none;
                color: #022034;

            }

            h3 {
                font-size: 22px;
                font-weight: 600;
                margin-bottom: 0.5rem;
            }

            p {
                line-height: 1.8rem;
                font-size: 20px;
            }
        }
    }
}

.process {
    height: auto;
    font-family: "Rajdhani";
    letter-spacing: 1px;
    background: #032e40;
    padding-bottom: 2rem;
    margin-bottom: 1.5rem;

    .title-process {
        position: relative;

        h2 {
            color: $first-color;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 600;
            text-align: center;
            padding-top: 2rem;
        }

        h2:before {
            content: "";
            position: absolute;
            transform: translate(-50%, -50%);
            width: 60px;
            height: 60px;
            background-color: #f09e3359;
            border-radius: 50%;
            z-index: -1;
            z-index: 1;
        }

        h2:after {
            position: relative;
            z-index: 1;
            content: "";
            display: inline-block;
            width: 40px;
            height: 2px;
            background: $first-color;
            bottom: 0.1rem;
            left: 0.3rem;
        }

        p {
            font-size: 15px;
            line-height: 1.2rem;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 2px;
            //text-align: center;
            padding: 1rem;
        }

        span {
            color: $first-color;
        }

    }

    p {
        color: #ffffff;
    }

    .cards-process {
        display: flex;
        flex-direction: column;
        align-items: center;

        .card-process {
            text-align: center;
            box-shadow: 0px 0 2px rgba(26, 46, 85, 0.1);
            width: 18rem;
            height: auto;
            border: 1px solid $first-color;
            border-radius: 10px;
            padding: 1rem;
            margin-top: 1rem;


            &.exchange:before {
                content: url("../images/1.png");
            }

            &.estimate:before {
                content: url("../images/2.png");
            }

            &.construction:before {
                content: url("../images/3.png");
            }

            &.delivery:before {
                content: url("../images/4.png");
            }

            h3 {
                font-size: 22px;
                font-weight: 600;
                margin-bottom: 0.5rem;
                color: #ffffff;
            }

        }
    }

}

.project {
    height: auto;
    font-family: "Rajdhani";
    letter-spacing: 1px;

    .title-project {

        h2 {
            color: $first-color;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 600;
            text-align: center;
            padding-top: 1rem;
        }

        h2:before {
            content: "";
            position: absolute;
            transform: translate(-50%, -50%);
            width: 60px;
            height: 60px;
            background-color: #f09e3359;
            border-radius: 50%;
            z-index: -1;
            z-index: 1;
        }

        h2:after {
            position: relative;
            z-index: 1;
            content: "";
            display: inline-block;
            width: 40px;
            height: 2px;
            background: $first-color;
            bottom: 0.1rem;
            left: 0.3rem;
        }

        p {
            font-size: 28px;
            margin-top: 3rem;
            line-height: 2.5rem;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: center;
        }

    }

    .cards-project {

        .card-project {
            margin: 3rem;

            .project-image {
                display: flex;
                justify-content: center;
            }

            .macbook {
                width: 5rem;
                height: 3rem;
            }

            .iphone {
                width: 5rem;
                ;
            }

            .detail-project {

                color: $first-color;
                font-size: 20px;
                margin-top: 1rem;
                font-weight: 600;
                display: flex;
                flex-direction: column;
                align-items: center;

                h3 {
                    line-height: 2.3rem;
                    margin: 1rem;
                    text-align: center;
                }

                .category-project {
                    border: 2px solid $first-color;
                    //border-radius: 26px;
                    padding: 0.5rem;
                    width: 188px;
                    text-align: center;
                    margin: 0.5rem;
                    font-size: 18px;
                }

            }

        }
    }

}

.faq {
    background: $second-color;
    height: auto;
    font-family: "Rajdhani";
    letter-spacing: 1px;
    padding-top: 1rem;
    padding-bottom: 2rem;

    h2 {
        color: $first-color;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        padding: 1.5rem 0 0.5rem;
    }

    h2:before {
        content: "";
        position: absolute;
        transform: translate(-50%, -50%);
        width: 60px;
        height: 60px;
        background-color: #f09e3359;
        border-radius: 50%;
        z-index: -1;
        z-index: 1;
    }

    h2:after {
        position: relative;
        z-index: 1;
        content: "";
        display: inline-block;
        width: 40px;
        height: 2px;
        background: $first-color;
        bottom: 0.1rem;
        left: 0.3rem;
    }

    h3 {
        font-size: 28px;
        line-height: 2.5rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
        color: #ffffff;
        margin-bottom: 2rem;
    }

    .faq-part {
        display: flex;
        flex-direction: column;

        .image-faq {
            width: 20rem;
            height: 18rem;
            border-radius: 20px 0 20px 0;
            margin: 0 auto;
        }

        .questions {
            color: $second-color;
            padding: 0rem 1rem 1rem 0.5rem;

            li {
                padding: 1.5rem 0 0;

                div {
                    display: flex;
                    justify-content: space-between;

                }
            }

            .active {
                font-size: 16px;
                font-weight: 600;
                text-decoration: none;
                color: $third-color;
                position: relative;
                padding-left: 1.5rem;
                padding-right: 1rem;

            }

            p {
                font-size: 16px;
                padding: 0.5rem 0 0 0;
                display: none;
                color: $third-color;
                padding-left: 1.5rem;
            }

            .hidden {
                display: none;
            }


        }

        .faq-part .plus-icon,
        .faq-part .moins-icon {
            position: absolute;
            right: 30px;
            top: 30px;
        }
    }
}

.form {
    background: $third-color;
    height: auto;
    font-family: "Rajdhani";
    letter-spacing: 1px;
    padding: 2rem 1rem;
}

.container-form {
    .info-contact {
        z-index: 1;
    }

    h2 {
        color: $first-color;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    h2:before {
        content: "";
        position: absolute;
        transform: translate(-50%, -50%);
        width: 60px;
        height: 60px;
        background-color: #f09e3321;
        border-radius: 50%;
        z-index: 1;
    }

    h2:after {
        position: relative;
        z-index: 1;
        content: "";
        display: inline-block;
        width: 40px;
        height: 2px;
        background: $first-color;
        bottom: 0.1rem;
        left: 0.3rem;
    }

    p {
        font-size: 18px;
        color: #022034;
        line-height: 2.5rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;

        span {
            color: $first-color;
        }
    }

    .picto-email-avion {
        width: 5rem;

        img {
            width: 5rem;
            padding: 0.1rem;
            margin-right: 0.5rem;
        }
    }

    //.wpforms-container .wpforms-form {
    //    display: flex;
    //    flex-direction: column;
    //    margin-bottom: 1rem;
    //    font-weight: 500;
    //    font-family: "Rajdhani";
    //    padding: 0 1.2rem 1rem;
    //}
//
    //.wpforms-field-label {
    //    margin-bottom: 0.5rem;
    //    font-weight: 600;
    //    font-size: 16px;
    //}
//
    //.wpforms-field {
    //    margin-bottom: 1rem;
    //}
//
    //.wpforms-container .wpforms-field input[type="text"],
    //.wpforms-container .wpforms-field input[type="email"],
    //.wpforms-container .wpforms-field input[type="tel"],
    //.wpforms-container .wpforms-field textarea {
    //    border: none;
    //    border-bottom: 2px solid #f09e33;
    //    padding: 0.5rem 0;
    //    width: 100%;
    //    font-family: "Rajdhani";
    //}
//
    //.wpforms-container .wpforms-field textarea {
    //    border-radius: 6px;
    //    border: 2px solid $first-color;
    //    padding: 0.5rem;
    //    color: grey;
    //    margin-top: 0.5rem;
    //}
//
    //.wpforms-container .wpforms-submit {
    //    display: flex;
    //    align-items: center;
    //}
//
    //.wpforms-container .wpforms-submit button[type="submit"] {
    //    background: $first-color;
    //    border-radius: 4px;
    //    width: 124px;
    //    border: 1px solid $first-color;
    //    color: #ffffff;
    //    height: 2rem;
    //    font-family: "Rajdhani";
    //}

    /* Styling for Contact Form 7 */
.wpcf7 {
    max-width: 500px; /* Ajustez la largeur maximale selon vos besoins */
    margin: 0 auto;
    background-color: #fff; /* Couleur de fond */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

label {
    color: $first-color;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"],
.wpcf7 textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Bordure */
    border-radius: 5px;
    font-family: "Montserrat" !important;
}

.wpcf7 textarea {
    min-height: 150px; /* Hauteur minimale pour la zone de texte */
}

.wpcf7 input[type="submit"] {
    background-color: $first-color !important; /* Couleur de fond du bouton */
    color: #fff !important; /* Couleur du texte du bouton */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Style des messages de succès et d'erreur */
.wpcf7-response-output {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.wpcf7-validation-errors,
.wpcf7-mail-sent-ok {
    background-color: #ffcdd2; /* Couleur de fond pour les messages d'erreur */
    color: #c62828; /* Couleur du texte pour les messages d'erreur */
}

.wpcf7-mail-sent-ok {
    background-color: #dcedc8; /* Couleur de fond pour les messages de succès */
    color: #2e7d32; /* Couleur du texte pour les messages de succès */
}
}


footer {

    background: $second-color;
    height: auto;
    font-family: "Rajdhani";
    letter-spacing: 1px;
    padding: 1rem;
    color: #ffffff;
    font-weight: 500;

    .container-footer {
        border-bottom: 1px solid $first-color;

        .footer-logo {
            display: flex;
            justify-content: center;
        }

        h2 {
            font-size: 28px;
            margin-bottom: 0.8rem;
        }

        span {
            color: $first-color;
        }

        .img-logo {
            width: 8rem;
        }

        .intro-footer {
            height: 9.5rem;
            line-height: 1.5rem;

            span {
                color: $first-color;
                font-size: 22px;
                font-weight: 600;
                text-transform: uppercase;
            }

            p {
                margin-bottom: 0.5rem;
            }

            .social-footer a {

                display: inline-block;
                margin: 15px 6px 0;
                font-size: 16px;
                width: 35px;
                height: 35px;
                line-height: 38px;
                background: #3a5a73;
                text-align: center;
                position: relative;
                z-index: 1;
                border-radius: 3px;

                .fab {
                    color: #ffffff;
                }

            }

            .social-footer a:before {
                position: absolute;
                content: "";
                z-index: -1;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: $first-color;
                transform: scale(0);
                margin: auto;
                transition: .5s;
                border-radius: 3px;

            }

            .social-footer a:hover:before {
                transform: scale(1);
                background: $first-color;
            }

        }

        .bloc-services {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 13rem;

            ul {
                margin-left: 1rem;
                width: 16rem;

                li {
                    padding: 0.5rem;
                    list-style-type: disc;

                    a {
                        color: #ffffff;
                        text-decoration: none;
                        display: inline-block;
                        transition: .5s;
                        background-size: 200% 100%;
                        background-position: 100%;
                        -webkit-text-fill-color: transparent;
                        -webkit-background-clip: text;
                        font-weight: 600;
                        background-image: linear-gradient(to right, $first-color, $first-color, 50%, $third-color 50%);

                    }

                    a:hover {
                        background-position: 0%, 100%;
                        padding-left: 3px;
                    }
                }
            }
        }

        .bloc-contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 11.5rem;

            .info-contact {
                display: flex;
            }

            .footer-social-icon {
                display: inline-block;
                font-size: 18px;
                color: $first-color;
                padding: 0.5rem 0.5rem 0.5rem 0;
            }

            .footer-social-info {
                padding: 0.5rem;
            }

        }

    }

    .footer-bottom {
        margin-top: 1rem;

        .copyright {
            font-size: 13px;

            span {
                color: $first-color;
            }
        }

        .legale-notices {
            font-size: 11px;
            margin-top: 0.5rem;

            ul {
                display: flex;

                li {
                    a {
                        text-decoration: none;
                        color: #ffffff;
                        padding-left: 0.2rem;
                    }
                }

            }
        }
    }
}

@media screen and (min-width: 768px) {


    .process {

        .title-process {
            p {
                text-align: center;
            }
        }

        .cards-process {
            flex-direction: row;
            justify-content: space-evenly;

            .card-process {
                height: 13rem;
            }
        }
    }

    .project {
        .cards-project {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0 3rem;

            .card-project {
                padding: 0 1rem;
            }
        }
    }

    .faq {
        .faq-part {
            flex-direction: row;
            margin: 0 20% 0 12%;

            .questions {
                width: 65%;

                p {
                    padding-right: 1.5rem;
                }
            }
        }
    }

        .form {
    
            .container-form {
                display: flex;
                flex-direction: row-reverse;
                padding-top: 3rem;
                justify-content: center;
    
                //.info-contact {
                //    padding-left: 5rem;
                //}
            }
    
        }
}


@media only screen and (min-width : 768px) and (max-width : 1055px) {
    .process {
        .cards-process {
            flex-wrap: wrap;

            .card-process {
                width: 22rem;
            }
        }
    }
}

@media only screen and (min-width : 1055px) and (max-width : 1300px) {
    .process {
        .cards-process {
            flex-direction: row;
            justify-content: space-evenly;

            .card-process {
                width: 14rem;
            }
        }
    }
}

@media only screen and (min-width : 1032px) and (max-width : 1423px) {

    .project {
        .cards-project {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0 3rem;

            .card-project {
                padding: 0 5rem;
            }
        }
    }
}

@media screen and (min-width: 1301px) {
    .process {
        .cards-process {
            flex-direction: row;
            justify-content: space-evenly;

            .card-process {
                width: 19rem;
            }
        }
    }
}


@media only screen and (min-width : 600px) and (max-width : 1024px) {
    header {

        .img-toggle {
            top: 2rem;
        }
    }

}

@media screen and (min-width: 1024px) {
    h2 {
        color: $first-color;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
    }


    header {

        .navbar {
            height: 7rem;
        }

        .container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 6rem;
            position: fixed;
            top: 0;
            background: #ffffff;
            width: 100%;
            z-index: 2;
        }


        .img-logo {
            width: 10rem;
            position: relative;
            top: 2rem;
        }

        .img-toggle {
            display: none;
        }

        .navbar-content {
            display: flex;
            font-family: $main-font;
            color: $second-color;
            font-weight: 500;
            position: static;

            .navbar-nav {
                display: flex;

                .nav-item {
                    margin: 0 2rem;
                    position: relative;
                    display: flex;
                    height: 6rem;
                    align-items: center;
                    top: 1rem;

                    .nav-link.mail {
                        display: none;
                    }

                    .nav-link.phone {
                        display: none;
                    }

                    .sub-menu {
                        display: none;
                        position: absolute;
                        background-color: #ffffff;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                        top: 96px;
                        border-top: 2.5px solid $first-color;

                        ul {
                            list-style-type: none;
                            padding: 0;
                            margin: 0;

                            position: relative;
                            left: 0;
                            top: 163%;
                            width: 240px;
                            text-align: left;
                            z-index: 1;
                            -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
                            transition: .5s;

                            li {

                                a {
                                    display: block;
                                    padding: 10px 20px;
                                    text-decoration: none;
                                    color: #333;
                                    font-weight: 500;
                                    border-bottom: 1px solid rgba(0, 0, 0, 0.10);

                                    &:hover {
                                        background-color: $first-color;
                                        color: $third-color;
                                    }
                                }
                            }
                        }
                    }

                    &:hover .sub-menu {
                        display: block;
                        left: -1.5rem;
                    }

                    .nav-link {
                        text-decoration: none;
                        color: $second-color;
                        display: inline-block;
                        transition: color 0.5s;

                        &:hover {
                            color: $first-color;
                        }

                        &::before {
                            font-family: "Font Awesome 5 Free";
                            display: inline-block;
                            padding-right: 3px;
                            vertical-align: middle;
                            font-weight: 900;
                        }

                        i {
                            font-size: 15px;
                            display: inline-block;
                        }
                    }

                    .fa-angle-down::before {
                        content: "\f107";
                    }

                    .nav-link.mail::before {
                        content: '\f0e0';
                    }

                    .nav-link.phone::before {
                        content: '\f095';
                    }
                }

            }
        }
    }

    .hero {
        margin-top: 6rem;

        .hero-social-icon {}

        .hero-presentation {

            h3 {
                font-size: 28px;
            }

            h3::before {
                width: 440px;
            }

            h1 {
                font-size: 68px;
            }

            h2 {
                text-transform: lowercase;
                font-size: 68px;
            }

            h4 {
                font-size: 23px;
            }

            .img-logo {
                display: none;
            }

            .hero-buttons {
                margin-top: 3rem;

                .button-item {
                    padding: 1.5rem 2.5rem;
                    font-size: 18px;
                    margin-right: 3rem;
                    width: auto;
                }
            }
        }


        .hero-img {
            display: block;

            .img-logo {
                width: 26rem;
                ;
            }
        }
    }

    .services {
        padding: 3rem 50%;

        .container-services {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .first-row {
                flex-direction: row;
                width: 73rem;

                .title-services {
                    width: 40rem;

                    h2 {
                        margin-top: 0;
                        margin-bottom: 3rem;
                    }

                    h3 {
                        font-size: 34px;
                    }

                }
            }

            .second-row {
                flex-direction: row;
                width: 73rem;
            }

            .card-services {
                width: 20rem;
                height: 19rem;
            }
        }
    }

    footer {

        background: $second-color;
        height: auto;
        font-family: "Rajdhani";
        letter-spacing: 1px;
        padding: 1rem 1rem;
        color: #ffffff;
        font-weight: 500;

        .container-footer {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $first-color;

            h2 {
                font-size: 28px;
                margin-bottom: 0.8rem;
            }

            span {
                color: $first-color;
            }

            .img-logo {
                width: 12rem;
            }

            .intro-footer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 9.5rem;
                line-height: 1.5rem;
                padding-top: 1.5rem;

                span {
                    color: $first-color;
                    font-size: 22px;
                    font-weight: 600;
                    text-transform: uppercase;
                }

                p {
                    margin-bottom: 0.5rem;
                }

                .social-footer a {

                    display: inline-block;
                    margin: 15px 6px 0;
                    font-size: 16px;
                    width: 35px;
                    height: 35px;
                    line-height: 38px;
                    background: #3a5a73;
                    text-align: center;
                    position: relative;
                    z-index: 1;
                    border-radius: 3px;

                    .fab {
                        color: #ffffff;
                    }

                }

                .social-footer a:before {
                    position: absolute;
                    content: "";
                    z-index: -1;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    background: $first-color;
                    transform: scale(0);
                    margin: auto;
                    transition: .5s;
                    border-radius: 3px;

                }

                .social-footer a:hover:before {
                    transform: scale(1);
                    background: $first-color;
                }

            }

            .bloc-services {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                height: 13rem;

                ul {
                    margin-left: 1rem;
                    width: 16rem;

                    li {
                        padding: 0.5rem;
                        list-style-type: disc;

                        a {
                            color: #ffffff;
                            text-decoration: none;
                            display: inline-block;
                            transition: .5s;
                            background-size: 200% 100%;
                            background-position: 100%;
                            -webkit-text-fill-color: transparent;
                            -webkit-background-clip: text;
                            font-weight: 600;
                            background-image: linear-gradien
                        }

                        a:hover {
                            background-position: 0%, 100%;
                            padding-left: 3px;
                        }
                    }
                }
            }

            .bloc-contact {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 12.5rem;

                .info-contact {
                    display: flex;
                }

                .footer-social-icon {
                    display: inline-block;
                    font-size: 18px;
                    color: $first-color;
                    padding: 0.5rem 0.5rem 0.5rem 0;
                }

                .footer-social-info {
                    padding: 0.5rem;
                }

            }

        }

        .footer-bottom {
            display: flex;
            margin-top: 1.5rem;
            justify-content: space-between;

            .copyright {

                span {
                    color: $first-color;
                }
            }

            .legale-notices {
                margin-top: 0;
                font-size: 13px;

                ul {
                    display: flex;

                    li {
                        a {
                            text-decoration: none;
                            color: #ffffff;
                        }
                    }

                }
            }
        }
    }

}

@media screen and (min-width: 1111px) {
    footer {
        .container-footer {
            .intro-footer {
                padding-top: 0;
            }
        }
    }
}

@media screen and (min-width: 1241px) {

    .hero {
        .hero-social-icon {
            width: 12%;
        }
    }

}

@media screen and (min-width: 1378px) {

    header {

        .navbar-content {

            .navbar-nav {

                .nav-item {

                    .nav-link.mail {
                        display: block;
                    }

                    .nav-link.phone {
                        display: block;
                    }
                }
            }
        }
    }

    .services {
        .first-row {
            .title-services {
                width: 60rem;
            }

        }

        .second-row {
            width: 29rem;
        }
    }
}

@media screen and (max-width: 1023px) {

    header {

        .navbar-content {

            flex-direction: column;
            align-items: center;
            width: 100%;
            background: $third-color;
            position: absolute;
            top: 7rem;
            left: 0;
            animation: slideDown 0.3s ease-in-out;

        }

    }
}